<ul class="promotions">
  {{#each promotions as |promotion|}}
    <li>
      <i class="fa fa-tag fa-lg" aria-hidden="true"></i>
      <span>{{promotion.shortDescription}}</span>
    </li>
  {{/each}}
</ul>
