<div class="media return-row">
  <div class="media-left media-middle title">{{appstr.returns}}</div>
  <div class="media-body info">
    <ul>
      <li>{{html-safe appstr.returnPolicy1}}</li>
      <li>{{appstr.returnPolicy2}}</li>
    </ul>
  </div>
</div>
