<div class="pull-left text">{{appstr.quantity}}:</div>

<div class="pull-right">
  <a class="fa fa-minus-circle fa-2x btn-icon" aria-hidden="true" aria-role="button" aria-label="Decrement quantity" {{action "decrement"}}></a>
  <output class="text value">{{quantity}}</output>
  <a class="fa fa-plus-circle fa-2x btn-icon" aria-hidden="true" aria-role="button" aria-label="Increment quantity"  {{action "increment"}}></a>
</div>
