{{#each stars as |star|}}
  <i class="fa fa-star {{if star.fill 'star-pros' 'star-cons'}} {{sizeClass}}" aria-hidden="true"></i>
{{/each}}
<span class="sr-only sr-only-focusable">Rating is {{rating}} out of {{maximum}}</span>
