.slider {
  &.slick-slider {
    margin:30px auto;
  }

  .slick-list {

    .slick-slide {
      text-align: center;

      &.slick-current {
        div {
          border: $border-1;
          border-radius: 4px;
        }
      }

      img, div {
        padding: 2%;
        position: relative;
        text-align: center;
        display:inline-block;
        width: 100%;
      }
    }
  }
}

.carosel-col {
  float: none;
  display: inline-block;

  .img-responsive {
    display: inline-block;
  }

  .view-larger {
    margin-top: 40px;

    a {
      color: $content-color;
    }
  }
}

.slick-disabled {
  display: none !important;
}

i.slick-prev, i.slick-next {

  &:before {
    content: "\f104";
    font-family: 'FontAwesome';
    color: $content-color;
    font-size: 56px;
    top: -20px;
    position: absolute;
  }
}

i.slick-prev {
  &:before {
    left: -26px;
  }
}

i.slick-next {
  &:before {
    content: "\f105";
  }
}
