.btn {
  &.btn-dark {
    color: $white-color;

    &:hover {
      color: $white-color;
    }
  }

  &.btn-black {
    background-color: $text-color;
    @include gradiant-bg-image(#4e4e4e, #333, #060606);
  }

  &.btn-red {
    background-color: $theme-color;
    @include gradiant-bg-image(#ea0000, #c00, #a00000);
  }

  &.btn-small {
    @include size-of-font(0.75em);
    background-color: $content-color;
    color: $ligt-text-color;
  }
}

.bold {
  font-weight: $font-weight-bold;
}

.light {
  font-weight: $font-weight-light;
}

.liquid-target-container {
  z-index: inherit;
}

.sr-only {
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  left: 0.1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
