$theme-color: #c00;
$text-color: #333;
$ligt-text-color: #666;
$content-color: #d6d6d6;
$white-color: #fff;
$link-font-size: 1em;
$table-color: #f1f1f1;
$blue-link: #258fc1;
$border-1: 1px solid $content-color;
$border-2: 2px solid $content-color;
$font-weight-200: 200;
$font-weight-light: 300;
$font-weight-800: 800;
$font-weight-bold: 900;
$padding-small: 10px;
$padding-medium: 30px;
