header.navbar-default {
  &.header {
    background-color: $white-color;
    border-radius: 0;
    margin-bottom: 10px;
  }

  .navbar-header {
    >.navbar-brand {

      &.header-brand {
        color: $theme-color;
      }
    }

    &.right-content {
      margin-right: 5px;

      .shopping-cart {
        @include size-of-font(2em);

        .no-items {
          @include size-of-font(0.5em);
        }
      }
    }
  }
}
