div.item-detail {

  .item-list {
    .item {
      .item-image {
        width: 50%;
        height: 50%;
        margin: 0 auto;
      }
    }
  }

  .review-row {

    .overall-review-container {
      padding: $padding-small 0;

      .overall-text {
        margin-left: 10px;
      }
    }

    .review-table-container {
      background: $table-color;
      padding: $padding-small $padding-small 0;
      font-size: 1em;

      .table {
        margin-bottom: 0;
      }

      .review-title {
        @include size-of-font(1.15em);
      }

      .posted-by {
        color: $blue-link;

        &:focus {
          color: $blue-link;
        }

        +time {
          margin-left: 5px;
        }
      }
    }
  }

  .item-section {
    padding: 0 $padding-medium;

    &.left-section {

      .item-title {
        margin-top: 0;
        font-weight: $font-weight-200;
      }

    }

    &.right-section {

      .item-row {
        padding: $padding-small 0;

        &.with-border {
          border-top: $border-1;
        }

        &.with-padding-top {
          padding-top: $padding-medium;
        }

        &.without-padding-top {
          padding-top: 0;
        }

        >.price {
          @include size-of-font(1.5em, $font-weight-800);

          >.description {
            @include size-of-font(0.5em, $font-weight-200);
          }
        }

        ul.promotions {
          color: $theme-color;
        }

        .btn-row {
          >.stretch {
            padding: 0 $padding-small 0 0;
          }
        }

        .return-row {
          .title {
            @include size-of-font(1.25em);
          }

          .info {
            @include size-of-font(0.75em);
            border-left: $border-2;
            padding-left: $padding-small;
          }
        }

      }

    }
  }
}
